#accordion div {padding: 10px 15px;}
#accordion h3 { height:17px; padding:40px 0 0 15px; margin:5px;}
#accordion h3 a { background-color:#FFF; padding:3px 5px; text-transform:uppercase;}
#accordion h3 a:link {color:#000; text-decoration:none;}
#accordion h3 a:visited {color:#000; text-decoration:none;}
#accordion h3 a:hover {color:#666; text-decoration:none;}
#accordion h3 a:active {color:#666; text-decoration:none;}

